
/* ==== GENERELLES ==== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}


.container {
width: 75rem;
margin: 0px auto;
}

/*  ==== HEADER ==== */
.header {
    height: 40rem;
    background-image: linear-gradient(-5.71deg, white 49.8%, transparent 50.2%);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100vw 10vw;
}
.header__background {
    height: 40rem;
    background-image: url(../img/pexels-benjamin-suter-3617500.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.header__mountains {
    height: 40rem;
    background-image: url(../img/pexels-benjamin-suter-3617500-mountains.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

.icon {
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top: -0.075em;
}

.navigation__list-item {
    list-style-type: none;
    display: block;
    float: left;
}


.navigation__list-item--menu {
    float: right;
    font-size: 3rem;
}

.navigation__list-item-link {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    text-shadow: 0 0 0.5rem rgba(0,0,0);
}
.navigation__list-item-link--logo {
    margin-top: 1rem;
}

.navigation__list-item-link--menu {
    margin-top: .5rem;
}

.navigation__list-item-link:hover {
    border-bottom: 1px solid rgb(0, 226, 156);
}

.navigation__list-item-link--menu:hover {
    border: none;
    color: rgba(255,255,255, .5);
}

.navigation__list-item-link--logo:hover {
    border: none;
    color: rgba(255,255,255, .5);
}

.navigation__list-item-logo {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
}

.header__heading-container2 {
    clear: both;
    padding-top: 5rem;
}

.header__heading-main {
    text-transform: uppercase;
    color: transparent;
    font-size: 7rem;
    line-height: 92%;
    text-align: center;
    letter-spacing: 0.18px;
    background-image: linear-gradient(-0.29deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .7) 49%);
    background-clip: text;
    -webkit-background-clip: text;
}

.header__heading-sub {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .4rem;
    margin-top: 1rem;
    text-shadow: 0 0 0.5rem rgba(0,0,0, .5);
}